body {
    height: 1400px;
    background-color: rgba(243, 141, 39, 0.63);
    /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

main {
    margin-left: 2em;
    margin-right: 2em;
    background: rgba( 81, 130, 217, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: rgba( 255, 255, 255, 0.18 );
}


/*navbar*/
header {
    background: rgba( 81, 130, 217, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px rgba( 255, 255, 255, 0.18 );
}

nav a {
    margin: 20px;
    margin-left: 135px;
}

#navbarNav a:hover {
    color: white;
    border-radius: 3px;
    box-shadow: #3f87a7 .5px .5px .5px 1px;
    
}

/*all containers*/
.container {
    margin-top: 5em;   
}

/*home/about*/
.about {
    margin-top: 5em;  
}

.pfp {
    /*border: solid rgba( 31, 38, 135, 0.37 );*/
    border-radius: 100px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

/*experience container*/

.container.Exp {
    height: 500px;
    margin-top: 250px;
    margin-bottom: 250px;
    text-align: center;
}
.container.Exp ul {
    
    list-style-type: none;
}

.title {
    font-weight: 500;
}

h2 {
    font-weight: 600;
    text-align: center;
}

.date {
    font-style: italic;
}


/*all Images*/
img {
    height: 200px;
    width: 200px;
}

.container-skills {
    margin-bottom: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container-port{

    background: rgba( 81, 130, 217, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px rgba( 255, 255, 255, 0.18 );
   text-align: center;   
}


